:root {
    --bg: #383838;
    --menu-row-height: 11vh;
}
*{
    margin: 0;
}
body{
    background-color: var(--bg);
    color: #eee;
    font-family: "Source Sans Pro", "Droid Sans", sans-serif;
}
a, .a{
    text-decoration: none;
    color: #bbeeff;
    border-bottom: 2px dotted white;
    cursor: pointer;
}
a:hover, .a:hover{
    border-bottom: 2px solid white;
}
#main-wrap{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
#left-menu-button{
    position: absolute;
    top: 2em;
    left: 1.5em;
    cursor: pointer;
    transition: transform .3s linear;
    width: 1.5em;
    cursor: pointer;
    z-index: 100;
}
#left-menu-button.hidden-button{
    transform: translateX(-6em);
}
#left-menu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 16vw;
    position: absolute;
    height: 100vh;
    transition: transform .3s linear;
    z-index: 100;
}
#left-menu.hidden-menu{
    transform: translateX(-20vw);
}
.menu-icon{
    --close-icon-height: 6vh;
    height: var(--close-icon-height);
    position: relative;
    top: calc((var(--menu-row-height) - var(--close-icon-height)) / 2);
    cursor: pointer;
}
#close-menu-icon{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
#close-icon-row{
    order: -1;
}
#login-row{
    order: 0;
}
.menu-row{
    font-size: 3vh;
    flex-basis: var(--menu-row-height);
    line-height: var(--menu-row-height);
    text-align: center;
    border-bottom: 2px solid #eee;
}
.padded-name{
    margin: 0 1.5vw;
}
#new-character-icon{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}
#create-input-field{
    background: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    text-align: center;
}
